<div class="modal fade" id="add-to-cart-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">[[ productInfo.title ]]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
            </div>
        
            <div class="modal-body">
                <br>
                <p class="ml-4">[[ productInfo.message ]]</p>
                <br>
            </div><!-- End .modal-body -->

            <div class="modal-footer">
                <a href="/cart" class="btn btn-outline btn-primary">
                    <span>Voir le Panier</span>
                    <i class="icon-cart-plus"></i>
                </a>
               
                <button type="button" class="btn btn-outline btn-primary" data-dismiss="modal">
                    <span>Continuer mes achats</span>
                    <i class="icon-long-arrow-right"></i>
                </button>
            </div>
        
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
