 <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Votre commande a été crée avec succès</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
            </div>
        
            <div class="modal-body text-center">
                <br>
                <div class="success-checkmark">
				  <div class="check-icon">
				    <span class="success-icon-line line-tip"></span>
				    <span class="success-icon-line line-long"></span>
				    <div class="success-icon-circle"></div>
				    <div class="success-icon-fix"></div>
				  </div>
				</div>

                <p class="ml-4">Veuillez enregistrer le code de la commande [[ order_message ]]</p>
                <br>
            </div><!-- End .modal-body -->

            <div class="modal-footer text-center">
                <a href="/" class="btn btn-primary">
                    <span>Revenir à la page d'accueil</span>
                </a>
               
                
            </div>
        
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
