{% load to_json %}

<div class="bg-light pt-5 pb-10 mb-3" id="section-{{key}}">
    <div class="container">        
        <div class="heading heading-center mb-3">
            <h2 class="title-lg">{{ data.values.title_1 }}</h2><!-- End .title -->
            <div class="tab-pane tab-pane-shadow p-0 fade show active">
                <div class="owl-vue-ajax">
                    

                    <div class="product product-3 text-center" v-for="product in sectionData[{{key}}]">
                        <figure class="product-media">
                            <span v-if="product.active_stock && product.stock < 1 && ! product.order_without_stock" class="product-label label-primary">En rupture de stock</span>
                            <span v-if="product.discount > 0" class="product-label label-sale">En promotion!</span>
                            
                            <a v-bind:href="[[ getProductLink(product) ]]">
                                <img v-bind:src="[[ imghttps(product.photo) ]]"v-bind:alt="[[ product.name ]]" class="product-image">
                            </a>


                            <div class="product-action-vertical">
                                <a href="#" v-if="logged" @click="addToWishlist(product.id, $event)" class="btn-product-icon btn-wishlist btn-expandable"><span>Ajouter aux Favoris</span></a>
                            </div><!-- End .product-action-vertical -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a>[[ product?._category?.name ]]</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a v-bind:href="[[ getProductLink(product) ]]">[[ product.name ]]</a></h3><!-- End .product-title -->
                            <div class="product-price" v-if="product.discount > 0">
                                <span class="new-price">[[ product.price - product.discount ]] {{ company.currency }}</span>
                                <span class="old-price">[[ product.price ]] {{ company.currency }}</span>
                            </div>
                            <div class="product-price" v-if="!product.discount > 0">
                                [[ product.price ]] {{ company.currency }}
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->

                        <div class="product-footer">
                            <div class="product-action">
                                <a v-bind:href="[[ getProductLink(product) ]]" class="btn-product btn-quickview"><span>Afficher</span></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product-footer -->
                    </div><!-- End .product --> 

                    
                    
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->

    </div><!-- End .container -->
</div><!-- End .bg-light -->
</div>