{% extends "../index.html" %}

{% load static %}

{% block body %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                <li class="breadcrumb-item active" aria-current="page">500</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="error-content text-center" style="background-image: url({% static 'assets/molla-1/images/error-404-bg.jpg' %})">
        <div class="container">
            <h1 class="error-title">Erreur 500</h1><!-- End .error-title -->
            <p>Nous sommes désolés, une erreur s'est produite, veuillez réessayer plus tard.</p>
            <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>RETOUR À LA PAGE D'ACCUEIL</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->
</main>

{% endblock %}