{% extends "../index.html" %}

{% load static %}
{% load paginate %}
{% load prod_tags %} 
{% load to_json %}

{% block body %}

<main class="main">
    <div class="page-header text-center" style="background-image: url({% static 'assets/molla-1/images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">{{ category.name | upper }}<span>{{ category.description }}</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item"><a href="">{{ category.name }}</a></li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                Affichage de <span> [[ products.results.length ]] sur [[ products.count ]]</span> Produits
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Trier par:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control" v-model="productsSort" @change="getProducts(1)">
                                        <option value="-updated_at" selected="selected">Plus Populaire</option>
                                        <option value="created_at">Nouveaux Produit</option>
                                        <option value="price">Prix Croissant</option>
                                        <option value="-price">Prix Décroissant</option>
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->

                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center">
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3" v-for="(product, index) in products.results" :key="product.name">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span v-if="product.discount > 0" class="product-label label-sale">En promotion!</span> 
                                        <span v-if="product.active_stock && product.stock < 1 && ! product.order_without_stock" class="product-label label-out">En rupture de stock</span>
                                        
                                        <a v-bind:href="[[ getProductLink(product) ]]">
                                            <img v-bind:src="[[ imghttps(product.photo) ]]"v-bind:alt="[[ product.name ]]" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" v-if="logged" @click="addToWishlist(product.id, $event)" class="btn-product-icon btn-wishlist btn-expandable"><span>Ajouter aux Favoris</span></a>
                                            
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a v-bind:href="[[ getProductLink(product) ]]" class="btn-product"><span>Afficher produit</span></a>

                                            {% comment %} {% if not product.declinaison %}
                                                <a href="#" @click="addToCart({{product | to_json}}, productQte, $event)" class="btn-product btn-cart"><span>Ajouter au panier</span></a>
                                            {% else %}
                                                <a href="#" class="btn-product btn-cart" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Ajouter au panier</span></a>
                    
                                                <div class="dropdown-menu">
                                                    {% for child_product in product.declinaisons %}
                                                        <a class="dropdown-item" href="#" @click="addToCart({{child_product | to_json}}, productQte, $event)">{{ child_product | get_prod_attrs }}</a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %} {% endcomment %}
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a>[[ product._category.name ]]</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a v-bind:href="[[ getProductLink(product) ]]">[[ product.name ]]</a></h3><!-- End .product-title -->
                                        <div class="product-price" v-if="product.discount > 0">
                                            <span class="new-price">[[ product.price - product.discount ]] {{ company.currency }}</span>
                                            <span class="old-price">[[ product.price ]] {{ company.currency }}</span>
                                        </div>
                                        <div class="product-price" v-if="!product.discount > 0">
                                            [[ product.price ]] {{ company.currency }}
                                        </div><!-- End .product-price -->
                                       
                                       
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .products -->


                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled" v-if=" products.current_page == 1">
                                <a class="page-link page-link-prev" href="#/" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Précédent
                                </a>
                            </li>
                            <li class="page-item" v-if=" products.current_page != 1">
                                <a class="page-link page-link-prev" href="#/" @click="getProducts(products.current_page-1)" aria-label="Previous">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Précédent
                                </a>
                            </li>

                            <li class="page-item-total">[[ products.current_page ]]  sur  [[ products.total_pages ]]</li>

                            <li class="page-item disabled" v-if="products.current_page == products.total_pages">
                                <a class="page-link page-link-next" href="#/" aria-label="Next" tabindex="+1" aria-disabled="true">
                                    Suivant <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                            <li class="page-item" v-if="products.current_page != products.total_pages">
                                <a class="page-link page-link-next" href="#/" @click="getProducts(products.current_page+1)" aria-label="Next">
                                    Suivant <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->
                <!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>

{% endblock %}